.additional-form {
  padding-top: 8px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 68px;
  }
}

.additional-form__titel {
  margin: 0 0 34px;
  padding: 0;
  font-family: @main-font;
  .form-titel-style ();

  @media (min-width: @tablet-width) {
    margin: 0 0 56px;
    .main-titel-style();
  }
}

.additional-form__product-group {
  border: none;
  margin: 0;
  padding: 0;
}

.additional-form__product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.additional-form__product-item {
  &:last-child {
    padding-bottom: 34px;
  }

  &:not(:last-child) {
    padding-bottom: 12px;
  }

  @media (min-width: @tablet-width) {
    width: 221px;
    margin-right: 122px;
    padding-bottom: 32px;

    &:not(:last-child) {
      padding-bottom: 32px;
    }

    &:nth-child(even) {
      margin-right: 66px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 104px 0 0;
    padding: 0;

    &:last-child {
      margin: 0;
      padding: 0;
    }

    &:not(:last-child) {
      padding: 0;
    }
  }
}
