.additional-form__header {
  margin-top: 23px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-top: 64px;
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 66px;
  }
}

.additional-form__form-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.additional-form__product-group {
  border: none;
  margin: 0;
  padding: 0;
}

.additional-form__product-list {
  list-style-type: none;
  margin: 0 0 42px;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.additional-form__product-item {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    width: 220px;
    margin-right: 0;

    &:nth-child(odd) {
      margin-bottom: 42px;
      margin-right: 122px;
    }

    &:nth-child(even) {
      margin-bottom: 32px;
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(odd) {
      margin-right: 104px;
    }

    &:nth-child(even) {
      margin-right: 104px;
    }

    &:nth-child(4) {
      margin-right: 0;
    }
  }
}
