.additional__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 280px;
  padding-top: 28px;
}

.additional__titel {
  margin: 0 0 36px;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @text-contrast-color;
}

.additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additional__item {
  border-bottom: @catalog-additional-border;

  &:first-child {
    border-top: @catalog-additional-border;
  }
}

.additional__gift {
  background-image: url("../img/catalog/additional-gift.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: @button-main-color;
  height: 290px;
  padding: 186px 61px 42px 58px;
  box-sizing: border-box;
}

.additional__gift-description {
  margin: 0;
  padding: 0;
  font-family: @additional-font;
  text-align: center;
  color: @main-color;
  .additional-titel-style ();
}
