.additional-product-card {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: repeat(3, min-content);
  padding: 12px 0 18px 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: 407px 132px 93px;
    grid-template-rows: min-content min-content;
    padding: 22px 38px 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 324px 132px 156px 282px;
    grid-template-rows: min-content;
    padding: 13px 0 17px;
  }
}

.additional-product-card__title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: 0 0 12px;
  padding: 0;
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-color;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 26px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.additional-product-card__name {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0 0 10px;
  padding: 0;
  font-family: @additional-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: end;
    .additional-title-style();
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.additional-product-card__name-price {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  margin: 0 0 10px;
  padding: 0;
  font-family: @additional-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: end;
  .additional-title-style ();

  @media (min-width: @tablet-width) {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    margin: 0 0 26px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 3 / 4;
    margin: 0;
  }
}

.additional-product-card__button {
  grid-column: 1 / -1;
  grid-row: 3 / -1;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    margin-left: 38px;
  }
}
