.button {
  display: inline-block;
  width: 280px;
  padding: 7px 20px;
  cursor: pointer;
  border: none;
  color: @main-color;
  background-color: @button-main-color;
  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(250, 250, 250, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
  }

  &--catalog {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;

    @media (min-width: @desktop-width) {
      width: 168px;
    }
  }

  &--catalog-modified {
    background-color: @additional-color;
    color: @text-additional-color;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 40px;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }

    @media (min-width: @desktop-width) {
      width: 168px;
      padding: 10px 35px;
    }
  }

  &--catalog-tablet {
    @media (min-width: @tablet-width) {
      width: 632px;
    }

    @media (min-width: @desktop-width) {
      width: 244px;
    }
  }

  &--form {
    @media (min-width: @tablet-width) {
      width: 282px;
    }

    @media (min-width: @desktop-width) {
      width: 568px;
    }
  }
}
