.button {
  display: inline-block;
  width: 280px;
  padding: 7px 20px;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  background-color: #68B738;
  font-family: 'Oswald';
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

.button--catalog-modified {
  background-color: #F2F2F2;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 40px;

}

.button--catalog {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
}
