.catalog {
  margin: -5px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.catalog__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.catalog__title-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  margin: 0;
  padding: 27px 42px 41px 20px;
  font-family: @main-font;
  color: @text-contrast-color;
  box-sizing: border-box;
  .main-title-style ();

  @media (min-width: @tablet-width) {
    padding: 62px 278px 82px 0;
    border: none;
    .main-title-style-tablet ();
  }

  @media (min-width: @desktop-width) {
    padding: 72px 790px 84px 0;
  }
}

.catalog__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    &--pro {
      margin-bottom: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 63px;
    column-gap: 80px;

    &--pro {
      margin-bottom: 63px;
    }
  }
}


.catalog__item {
  border-bottom: @catalog-main-border;
  margin: 0;

  &:first-child {
    border-top: @catalog-main-border;
  }

  @media (min-width: @tablet-width) {
    border: none;
    margin: 0;

    &:first-child {
      border-top: none;
    }
  }
}
