.comment__titel {
  margin: 0 0 37px;
  font-family: @main-font;
  color: @text-contrast-color;
  .form-titel-style ();
}

.comment__input {
  padding: 10px 12px 10px 15px;
  width: 280px;
  min-height: 150px;
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
}
