.copyright {
  display: flex;
  flex-wrap: wrap;
  padding: 18px 0 22px;

  @media (min-width: @tablet-width) {
    align-items: center;
    padding: 0;
  }
}

.copyright__link {
  font-family: @additional-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @text-additional-color;
  padding-top: 8px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-left: auto;
  }
}

.copyright__icon {
  margin-left: auto;
  fill: @icon-color;

  &:hover {
    fill: @button-main-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-left: 22px;
  }
}
