.example {
  background-color: @third-color;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, #ffffff 57%, #eaeaea 57%, #eaeaea 100%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, #ffffff 28%, #eaeaea 28%, #eaeaea 100%);
  }
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 1220px;
    padding: 0;
  }
}

.example__title {
  margin: 0 0 40px;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @text-contrast-color;

  @media (min-width: @tablet-width) {
    .main-titel-style-tablet();
    margin: 0 0 63px;
  }

  @media (min-width: @desktop-width) {
    margin: 42px 304px 146px 0;
  }
}

.example__description {
  margin: 0 0 20px;
  padding: 0;
  font-family: @additional-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 193px 70px 0;
  }
}

.example__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-bottom: 74px;
  }
}

.example__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 366px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 60px;
  }
}

.example__number {
  position: relative;
  padding: 15px 20px 17px;
  width: 124px;
  height: 56px;
  border: @catalog-additional-border;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @text-contrast-color;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;
    padding: 15px 20px 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__number--loss::before {
  position: absolute;
  content: "снижение веса";
  top: 46px;
  left: 22px;
  width: 82px;
  font-family: @additional-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  background-color: @third-color;
  color: @text-additional-color;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @main-color;
    color: @text-additional-color;
    top: 63px;
    left: 32px;
    width: 98px;
  }

  @media (min-width: @desktop-width) {
    background-color: @additional-color;
  }
}


.example__number--time::before {
  position: absolute;
  content: "затрачено времени";
  top: 46px;
  left: 22px;
  width: 82px;
  font-family: @additional-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  background-color: @third-color;
  color: @text-additional-color;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @main-color;
    color: @text-additional-color;
    top: 63px;
    left: 17px;
    width: 128px;
  }

  @media (min-width: @desktop-width) {
    background-color: @additional-color;
  }
}

.example__expenses {
  margin: 0;
  padding: 34px 46px 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @text-contrast-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 10px 0 20px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding: 0;
    margin: 0;
    text-align: start;
  }
}

.example__expenses-number {
  @media (min-width: @tablet-width) {
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0 300px 0 64px;
  }
}

.example__image {
  display: block;
  margin: 0 0 15px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 590px;
    height: 511px;
    margin: 0 0 25px;
  }
}

.example__range-scale {
  padding: 0 35px 40px;

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0 0 65px;
  }
}
