.main-block {
  display: block;
  background-image: url(../img/index/index-main-cat.jpeg);
  background-size: 320px 302px;
  background-repeat: no-repeat;
  font-family: 'Oswald';
  color: #fff;
  padding-top: 27px;
}

.main-block__title {
  margin: 0 36px 25px 36px;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.main-block__discription {
  margin: 0 60px 30px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.main-block__product-image {
  display: block;
  margin: 0 20px 3px;
}

.main-block__button {
  margin: 0 20px;
}
