
.show-more-card__wrapper {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  margin: 28px auto 22px;
  width: 280px;
  padding-top: 52px;
}

.show-more-card__titel {
  margin: 0 0 8px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.show-more-card__description {
  margin: 0 0 20px;
  padding: 0;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
