
.show-more-card__wrapper {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  margin: 28px auto 22px;
  width: 280px;
  padding-top: 52px;

  @media (min-width: @tablet-width) {
    margin: 81px 0 0;
    border: 2px solid #f2f2f2;
    box-sizing: border-box;
    padding-top: 161px;
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.show-more-card__titel {
  margin: 0 0 8px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: @rare-color;
  .additional-titel-style();

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin: 0 94px 22px 96px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 55px 23px 56px;
  }
}

.show-more-card__description {
  margin: 0 0 20px;
  padding: 0;
  font-family: @additional-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 78px 87px 78px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 38px 88px;
  }
}

.show-more-card__button {
  @media (min-width: @tablet-width) {
    margin: 0 37px 38px 39px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 38px 41px;
  }
}
