.table {
  padding: 0;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  max-height: 44px;
  list-style-type: none;
  height: 142px;
  padding-bottom: 22px;
}


.table__term {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.table__description {
  padding: 0;
}


